# PDFs
# (project brief, nonplagiarism declarations)
*.pdf

# Report
report/

# Gantt chart
ganttchart.html

# Images
diagrams/*.png
testing/*.png

# Milestone A files
plan/
diagrams/flowchart.drawio

# Misc
submit/
testing/method.txt
